@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

.custom-container {
  width: 1125px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

/* Custom font-weight classes */
.font-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.font-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.font-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.font-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.font-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.hero-section {
  background-image: url('/hero-sec-bg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.cstm-btn {
  background-color: #2DC071;
  padding: 15px 40px;
  border-radius: 5px;
  border: 1px solid #2DC071;
}

.cstm-btn:hover {
  background-color: transparent;
  border: 1px solid #2DC071;
  color: #2DC071;
}

.cstm-btn-transparent {
  background-color: transparent;
  padding: 15px 40px;
  border-radius: 5px;
  border: 1px solid #2DC071;
  color: #2DC071;
}

.cstm-btn-transparent:hover {
  background-color: #2DC071;
  color: #fff;
}

.post-btn {
  align-items: center;
}

.posttag {
  padding: 5px 10px;
  position: absolute;
  border-radius: 5px;
  top: 20px;
  left:20px;
}

.footer-top, .footer-middle-area, .footerend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-in-touchform input {
  padding: 20px;
  outline: none;
  border: 1px solid #E6E6E6;
  width: 100%;
  border-radius: 5px;
}

.get-in-touchform button {
  position: absolute;
  right: 0;
  height: 100%;
}

@media (max-width: 767px) {
  .custom-container {
    width: 100%;
    padding: 20px;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .custom-container {
    width: 100%;
    padding: 20px;
  }
}